.register-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://th.bing.com/th/id/R.9555e720567cc29f76f18b6f7050e749?rik=3a0Wj%2br%2bgQF7bw&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-box {
  width: 380px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  color: white;
}

.register-header {
  text-align: center;
  margin-bottom: 20px;

  .register-subtitle {
    color: #bbb;
    font-size: 1.1rem;
  }
}

.register-form-box .ant-input,
.register-form-box .ant-input-password {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
}

.register-form-box .ant-input-password .anticon {
  color: #ccc;
}
.register-form-box .ant-input-password .anticon:hover {
  color: white;
}

.register-form-box .ant-input::placeholder,
.register-form-box .ant-input-password input::placeholder {
  color: #ccc;
}

.register-label {
  color: white;
}

.register-form-box .ant-divider {
  border-color: #444;
}

.register-btn {
  background-color: #3cb371 !important;
  border-color: #3cb371 !important;

  &:hover {
    background-color: #2e8b57 !important;
    border-color: #2e8b57 !important;
  }
}

.register-footer {
  text-align: center;

  .register-link {
    color: #3cb371;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: #bbb;
  }
}

.register-form-box .ant-form-item-has-error .ant-input,
.register-form-box .ant-form-item-has-error .ant-input-password input {
  background: rgba(255, 0, 0, 0.15) !important; 
  border: 1px solid #ff4d4f !important; 
  color: white !important;
}

.register-form-box
  .ant-form-item-has-error
  .ant-input::placeholder,
.register-form-box
  .ant-form-item-has-error
  .ant-input-password
  input::placeholder {
  color: #f5bcbc !important;
}

.register-form-box .ant-input:focus,
.register-form-box .ant-input-password input:focus {
  background: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}

.register-form-box .ant-form-item-explain-error {
  color: #ffbaba !important;
  font-size: 13px;
}

.register-form-box .ant-input-password .anticon {
  background: transparent !important;
  color: #ccc !important;

  &:hover {
    color: white !important;
  }
}
