.login-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  width: 380px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  color: white;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;

  .login-subtitle {
    color: #bbb;
    font-size: 1.1rem;
  }
}


.login-form-box .ant-input,
.login-form-box .ant-input-password {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
}

.login-form-box .ant-input-password .anticon {
  color: #ccc;
}
.login-form-box .ant-input-password .anticon:hover {
  color: white;
}

.login-form-box .ant-input::placeholder,
.login-form-box .ant-input-password input::placeholder {
  color: #ccc;
}

.login-label {
  color: white;
}

.login-form-box .ant-divider {
  border-color: #444;
}

.login-btn {
  background-color: #3cb371 !important;
  border-color: #3cb371 !important;

  &:hover {
    background-color: #2e8b57 !important;
    border-color: #2e8b57 !important;
  }
}

.login-footer {
  text-align: center;

  .login-link {
    color: #3cb371;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: #bbb;
  }
}
