.contract-modal .ant-modal-body,
.contract-modal .ant-typography,
.contract-modal .ant-typography p,
.contract-modal .ant-typography span,
.contract-modal .ant-typography div,
.contract-modal .ant-modal-title {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 16px !important;
  color: #000 !important;
  line-height: 1.8 !important;
}

.contract-modal .contract-header {
  text-align: center;
  font-family: "Times New Roman", Times, serif !important;
}

.contract-modal .contract-national {
  font-size: 16px;
  font-weight: bold;
}

.contract-modal .contract-motto {
  font-size: 15px;
}

.contract-modal .contract-divider {
  margin: 4px auto;
  width: 45%;
  border-color: #000;
}

.contract-modal .contract-title {
  margin-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.contract-modal .contract-section {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 24px;
  font-size: 16px;
}


